.dow-container {
  background-color: var(--darkColor);
  border: none;
  text-align: center;
  aspect-ratio : 1 / 1;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-dow {
  background-color: var(--contrastColor);
}

.dow-container:hover {
  cursor: pointer;
}
