<div class="recover-form">
  <form class="form-container">
    <div class="mb-2">
      <input type="text" placeholder="Nombre" value="{{alarm!.name}}" class="form-control alarm-field">
    </div>
    <div class="mb-2">
      <div class="grid grid-hour nomargin">
        <div class="digit" id="digit-1">
          <input type="text" class="digit-text" value="{{alarm!.hours < 0 ? null : (alarm!.hours < 10 ? 0 : (alarm!.hours - (alarm!.hours % 10))/10)}}" placeholder="0">
        </div>
        <div class="digit" id="digit-2">
          <input type="text" class="digit-text" value="{{alarm!.hours < 0 ? null : (alarm!.hours % 10)}}" placeholder="0">
        </div>
        <div class="digit" id="digit-3">
          <input type="text" class="digit-text" value="{{alarm!.minutes < 0 ? null : (alarm!.minutes < 10 ? 0 : (alarm!.minutes - (alarm!.minutes % 10))/10)}}" placeholder="0">
        </div>
        <div class="digit" id="digit-4">
          <input type="text" class="digit-text" value="{{alarm!.minutes < 0 ? null : (alarm!.minutes % 10)}}" placeholder="0">
        </div>
      </div>
    </div>
    <div class="mb-2">
      <div class="grid grid-dow nomargin">
        <app-dow-selector [dow]="'L'" [selected]="alarm!.dow[0] =='L'"></app-dow-selector>
        <app-dow-selector [dow]="'M'" [selected]="alarm!.dow[1] =='M'"></app-dow-selector>
        <app-dow-selector [dow]="'M'" [selected]="alarm!.dow[2] =='M'"></app-dow-selector>
        <app-dow-selector [dow]="'J'" [selected]="alarm!.dow[3] =='J'"></app-dow-selector>
        <app-dow-selector [dow]="'V'" [selected]="alarm!.dow[4] =='V'"></app-dow-selector>
        <app-dow-selector [dow]="'S'" [selected]="alarm!.dow[5] =='S'"></app-dow-selector>
        <app-dow-selector [dow]="'D'" [selected]="alarm!.dow[6] =='D'"></app-dow-selector>
      </div>
    </div>
    <div class="mb-2">
      <label><input type="checkbox" class="checkbox"> Desactivar en días festivos</label>
    </div>
    <div class="mb-2" style="margin-bottom: 0px;">
      <label>Máximo de aplazamientos*</label>
      <mat-slider class="slider" min="0" max="10" step="1" showTickMarks="False" discrete thumbLabel="True"
        tickInterval="1">
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div class="mb-2" style="margin-top: 0rem;">
      <label>Método de apagado*</label>
      <div class="grid grid-turnoff nomargin">
        <div class="turnoff-method" [ngClass]="alarm!.strategy == 'touch' ? 'selected-method' : ''">
          <img class="turnoff-icon" (click)="openTouchModal()" src="../../../assets/iconos-apagado/touch.png">
        </div>
        <div class="turnoff-method" [ngClass]="alarm!.strategy == 'camera' ? 'selected-method' : ''">
          <img class="turnoff-icon" (click)="openCameraModal()" src="../../../assets/iconos-apagado/camera.png">
        </div>
        <div class="turnoff-method" [ngClass]="alarm!.strategy == 'barcode' ? 'selected-method' : ''">
          <img class="turnoff-icon" (click)="openBarcodeModal()" src="../../../assets/iconos-apagado/barcode.png">
        </div>
        <div class="turnoff-method" [ngClass]="alarm!.strategy == 'nfc' ? 'selected-method' : ''">
          <img class="turnoff-icon" (click)="openNfcModal()" src="../../../assets/iconos-apagado/nfc.png">
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label>Contacto de respaldo</label>
      <div class="row clickable" (click)="openContactModal()" style="margin-right: 0px;">
        <div class="col-11  contact-name">
          <input type="text" placeholder="Nombre" class="form-control alarm-field">
        </div>
        <div class="col-1 person-container" style="display: flex; justify-content: center;
        align-items: center;">
          <img class="person-icon" src="../../../assets/contacts.png">
        </div>
      </div>
    </div>
    <br>
    <div class="row" style="margin-right: 0px;">
      <div class="col-6">
      </div>
      <div class="col-3 botonera">
        <button type="submit" class="btn btn-cancel">Cancelar</button>
      </div>
      <div class="col-3 botonera">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</div>
