<div class="recover-container">
  <div class="recover-subcontainer">
    <div class="recover-form">
      <form class="form-container">
        <H1>Recuperar Contraseña</H1>
        <div class="mb-2">
          <label class="form-label">Número de celular</label>
          <input type="tel" class="form-control">
        </div>
        <div class="mb-2">
          <label class="form-label">Contraseña generada</label>
          <img class="icon" tooltipClass="tooltip" placement="end" ngbTooltip="En la app móvil, ingrese a su perfil y solicite una clave temporal que recibirá por SMS." src="../../../assets/question.png">
          <input type="password" class="form-control">
        </div>
        <div class="mb-2">
          <label class="form-label">Nueva contraseña</label>
          <input type="password" class="form-control">
        </div>
        <div class="mb-4">
          <label class="form-label" >Confirme nueva contraseña</label>
          <input type="password" class="form-control">
        </div>
        <button (click)="doLogin()" type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
